{% extends 'base2.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block home_active %}fill-gray-800 bg-white{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Seja bem vindo {{ app.user.username }}! ✅</h1>


</div>
{% endblock %}
