{% extends '@EasyAdmin/page/content.html.twig' %}


{% block page_title %} Ãrea Administrativa {% endblock %}

{% block page_actions %}
{#    <a class="btn btn-info" href="#">teste</a>#}
{% endblock %}

{% block main %}
{#    <table class="datagrid">#}
{#        <thead>#}
{#            <tr>#}
{#                <td>teste1</td>#}

{#                <td>teste2</td>#}
{#            </tr>#}
{#        </thead>#}
{#    </table>#}
{% endblock %}